<p>uuidv4 works!</p>
<p>expectation:</p>
<ul style="list-style: none;">
    <li>
        <input type="checkbox"><span>uuidv4 do not change when the browser reload. uuidv4 do not change due to ISR.</span>
    </li>
    <li>
        <input type="checkbox"><span>uuidv4 will change if the timeZone queryParam change.</span>
    </li>
    <li>
        <input type="checkbox" checked><span>no error in terminal because server do not call the uuidv4 variable.</span>
    </li>
</ul>
<p>uuidv4: {{ uuidv4 }}</p>
<p>timeZone: {{ timeZone }}</p>